@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
}
body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 44%, rgba(18,9,121,1) 79%, rgba(3,0,255,1) 93%);
}
.header{
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(90deg, rgba(31,0,36,1) 0%, rgba(20,9,121,1) 53%, rgba(0,117,255,1) 100%);
    border-bottom: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 8px #444444ad;
}
.anchor{
    color: white;
    text-decoration: none;

 }
 .maincontent{
    min-height:calc(100vh-65px-75px);
 }
 .gif{
   display:block;
   margin-left:35px;
   margin-right:auto;
   margin-top:-30px;
   width:30px;
   height:30px;
 }
 .name{ 
    width: 40px;
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
  
 }
.titleofproj{
    font-size:23px;
    width: 40px;
    display: inline-block;
}
.right-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.right-nav:hover{
    color: #fff;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 300px;
}
li{
    align-content:center;
}
.userlogo{
    margin-right: 20px;
}
.logo{
    height: 100%;
    width: 20px;
    position:absolute;
    display: inline-block;
}
.profilepic{
    width:30px;
    height:30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;

}
.container-input {
    position: relative;
}
  
.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}
  
.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}
.input:focus {
    opacity: 1;
    width: 250px;
}
.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
.oswald:focus,
.oswald:hover{
    color: #fff;
}
.oswald:focus:after,
.oswald:hover:after {
   width: 100%;
   left: 0%;
}
.oswald:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}
ul.breadcrumb {
    padding: 0px 10px;
    list-style: none;
    background-color: transparent;
    margin-top:10px;
    font-weight:bold;
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: ">";
}
ul.breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.my-product-title{
    display: flex;
    align-items: center;
    background: transparent;
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 26px 24px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .06);
}
.space{
    width: auto;
    height: 10px;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-card {
    position: relative;
    overflow: hidden;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom:10px;
}
.product-card .product-image {
    display: block;
    width: 100%;
    height: 400px;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-image {
    transform: scale(1.1);
}

.product-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.product-price{
    font-weight:bold;
}

.product-details h2,
.product-details p,
.rating {
    color: #fff;
    margin: 0;
    margin-bottom: 5px;
}

.icons {
    display: none;
}

.product-card:hover .icons {
    display: flex;
    justify-content: flex-end;
}

.icons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    color: #fff;
}

.icons button i {
    font-size: 20px;
}

.add-to-cart:hover,
.add-to-wishlist:hover {
    color: #007bff;
}
td{
    padding:5px;
}
.ORDER-BY{
    margin-left:1300px;

}
.footer{
    width: 100%;
    height:75px;
    background-color:#333;
    position:absolute;
   }
   .Contactus{
    color:white;
    text-align:center;
   }
